
body {
    /*background: blanchedalmond;*/
    background-image: url("../public/images/notepad.jpg");
}
.card {
    border-radius: 16px;
}
.table-rapper{
    background: rgba(255, 255, 255, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
}